.portfolio {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 10%;
    margin-bottom: 250px;
}


.solana-content-text {
    display: flex;
    flex-direction: column;
}

.solana-title {
    font-family: "Arvo", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 50px;
}

.solana-second-title {
    font-family: "Arvo", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 30px;
}

.solana-text {
    color: white;
}

.solana-buttons {
    display: flex;
    flex-direction: row;
}

.solana-buttons-gap {
    flex: 1.6;
}

.solana-start-now-button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: -webkit-linear-gradient(205deg, rgba(40, 0, 255, 1) 0%, rgba(0, 240, 211, 1) 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    flex: 1;
    color: white;
    text-align: center;
    margin-top: 20px;
    text-decoration-line: none;
    transition: 1s;
}

.solana-start-now-button:hover {

    font-weight: bold;
}



.trading-view-widgets {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.trading-view-widget-BTC {
    grid-area: 1 / 1 / 2 / 2;
}

.trading-view-widget2 {
    grid-area: 2 / 1 / 3 / 2;
}

.trading-view-widget3 {
    grid-area: 1 / 2 / 3 / 3;
}

.mid_text {
    text-align: center;
}

.preview-workshop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background: silver;
}

.preview-workshop>div:hover::after{
    content:"see more...";
    
    position: absolute;
    z-index: 2;
    color: whitesmoke;
}

.preview-workshop-window1 {
    grid-area: 1 / 1 / 3 / 2;
    background-color: rgb(26, 26, 26);
    border-color: silver;
    color:white;
    margin-right: 1px;
}

.preview-workshop-window2 {
    grid-area: 1 / 2 / 2 / 3;
    background-color: rgb(26, 26, 26);
}

.preview-workshop-window3 {
    grid-area: 2 / 2 / 3 / 3;
    background-color: rgb(26, 26, 26);
}
.down-gap{
    margin-bottom: 150px;
}